@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "braille";
  src: url("./fonts/aph-braille-shadows-webfont.woff") format("woff");
}

.braille {
  font-family: "braille", serif;
}

html {
  width: 100%;
  position: relative;
}

html, body {
  font-size: 24px;
}